.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-dark{
  background-color:black;
}

.bgg{
background-color:red;
  margin-right: 200px;
  margin-left: 200px;
}

.mt-50{
	margin-top: 50px;
}
#canvas{
    border: 2px solid black;
}